<div class="list-container">
  <h1><%= @list.name %></h1>
  <%= link_to 'Add movies', new_list_bookmark_path(@list) %>
  <ul>
    <% @movies.each do |movie| %>
      <li><%= movie.title %>
      <%= link_to "Delete", bookmark_path(@bookmarks.find_by(movie_id: movie.id)), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
</div>
